.parking-lot {
    display: flex;
    flex-direction: column;
}

.parking-lot-row {
    display: flex;
    justify-content: space-between;
}

.parking-lot-cell {
    flex: 1;
    border: 1px solid rgb(205, 157, 157);
    padding: 15px 50px;
    text-align: center;
}

.parking-lot-row:first-child .parking-lot-cell {
    border-top: none;
}

.parking-lot-row:last-child .parking-lot-cell {
    border-bottom: none;
}

.parking-lot-cell:first-child {
    border-left: none;
}

.parking-lot-cell:last-child {
    border-right: none;
}

.plate-box {
    background-color: #90eeab;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #666
}