.parking-lot-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.parking-lot-wrapper {
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    flex: 1;
}

.parking-lot-name {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}